.rtl .fileinput-button input {
	direction: rtl;
}
body.rtl {
  direction: rtl;
      text-align: right;
}
.rtl .top-bar .top-bar-right{
	float:left;
}
.rtl .header-main .top-bar-right .custom li{
	margin-left: 15px;
}
.rtl .desktoplogo {
	float:right;
}
.rtl .horizontalMenu{
	float:left;
}
.rtl .horizontalMenu>.horizontalMenu-list>li{
	float:right;
	position:relative;
}
.rtl .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .link-list li {
	  text-align:left;
}
.rtl .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>a {
	   text-align: right;
}
@media (min-width: 992px){
.rtl .sticky-wrapper.is-sticky .desktoplogo-1 {
	float:right;
}
}
.rtl .megamenu-relative{
	position:inherit !important;
}
.rtl .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a{
	text-align: right;
}
.rtl .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu{
	right:100%;
}
.rtl .input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.rtl .input-group>.form-control:not(:last-child), .input-group>.custom-select:not(:last-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.rtl .single-page .wrapper label {
	right: 15px;
	left: auto;
}
.owl-nav .owl-prev {
     left: auto;
    right: -1.5em;
}
.owl-nav .owl-next {
   left: -1.5em;
    right: auto;
}	
.rtl .widgets-cards .wrp.icon-circle {
	margin-left: 15px;
}
.rtl .breadcrumb-1 ol {
	text-align: left;
}
.rtl .breadcrumb-1 li {
	text-align: left;
}
.rtl .breadcrumb-2 ol {
	 text-align: left;
}
.rtl .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px;
}
.rtl .location-gps {
	text-align:left;
	right: auto;
    left: 12px;
}
.rtl .item-search-tabs a.btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
	    right: 2px;
}
 .rtl .badgetext {
    float: left;
}
.rtl .widget-spec li i {
    margin-left: .5rem;
   
}
.rtl .custom-control-label::before {
	    right: 0;
}
.rtl .custom-control {
	    padding-right: 1.5rem;
		padding-left:0;

}
 .rtl .item-card9-icons {
	     left: 15px;
         right:auto;
 }
 .rtl .arrow-ribbon {
	     right: 0;
		 left:auto;
 }
 .rtl .item-card2-icons {
	 left: 15px;
	right:auto;
 }
.rtl .item-card7-imgs a {
	    right: 0;
}
.rtl .item-card7-overlaytext a {
	   right: 12px;
	   left:auto;
}
.rtl .item-card7-overlaytext h4 {
	    left: 12px;
		right:auto;
}
.rtl #main {
    text-align: right;
}
.rtl .support-service i {
    float: right;
    margin-left: 15px;
}
.rtl .panel-heading1 a.collapsed:before {
	left:10px !important;
     right:auto;	
}
.rtl .panel-heading1 a:before {
	left:10px !important;
	 right:auto;		
}
.rtl .ribbon-3 {
	    left: 10px;
		right:auto;
}
.rtl .ribbon-2 {
    left: 10px;  
     right:auto;	
}
.rtl .ribbon-1 {
	left: 10px;  
     right:auto;	
}
.rtl .item-card8-overlaytext h6 {
	    right: 21px;
		left:auto;
}
.rtl .select2-container--default .select2-selection--single .select2-selection__arrow {
	    left: 1px;
		right:auto;
}
.rtl .select2-container--default .select2-selection--single .select2-selection__arrow b {
	right: 50%;
    margin-right: -12px;
	left:auto;
}
.rtl .card-options {
     margin-right: auto;
     margin-left: -.5rem;
}
.rtl .custom-file-label::after {
    left: 0;
    right: auto;
	border-radius: 3px 0 0 3px;
}
.rtl .price-value1 span {
    margin-right: 17px;
}
.list-inline-item:not(:last-child) {
    margin-left: .5rem;
    margin-right: auto;
}
.rtl.wideget-user-info .wideget-user-warap .wideget-user-warap-r {
    margin-right: 10rem;
}
.rtl .power-ribbon-top-left span {
    left: -8px;
    top: -1px;
    transform: rotate(-135deg);
	right:auto;
}
.rtl .power-ribbon-top-left {
    top: -7px;
    right: -9px;
}
.rtl .power-ribbon-top-left span i {
    transform: rotate(38deg);
    padding-top: 0px;
    padding-right: 7px;
}
.rtl .ribbon-top-left {
    right: -10px;
	left:auto;
}
.rtl .ribbon-top-left::before {
    left: 50px;
	right:auto;
}
.rtl .ribbon-top-left::after, .ribbon-top-left::before {
    border-left-color: transparent;
}
.rtl .ribbon-top-left span {
    left: -8px;
	right:auto;
    transform: rotate(45deg);
}
.rtl .item-card7-desc ul li {
    margin-right: 1rem;
	margin-left: auto;
}
.rtl .ribbon-top-right {
    left: -10px;
	right:auto;
}
.rtl .ribbon-top-right::before {
    right: 36px;
	left:auto;
}
.rtl .ribbon-top-right span {
    right: -8px; 
    transform: rotate(-45deg);
	left:auto;
}
.rtl .ribbon-top-right::after {
    right: auto;
	left:0;
}
.rtl .ribbon-top-right::after, .ribbon-top-right::before {
    border-left-color: transparent;
}
.rtl .arrow-ribbon2 {
	right: -1px;
	left:auto;
}
.rtl .product-tags a {
    float: right;
    margin-left: 5px;
	margin-right: auto;
}
.rtl .ribbon-top-left::after {
   left:auto;
    right: 0;
}
.rtl .item7-card-desc a:first-child {
    margin-left: 1rem;
	margin-right:0;
}
.rtl .item7-card-text span {
    right: 10px;
	left:auto;
}
.rtl .item-det li a i {
    float: right;
	margin-top:2px;
}
.arrow-ribbon2:before {
    border-left: 0;
}.arrow-ribbon2:before {
    border-left: 0;
}
.rtl .arrow-ribbon2:before {
    border-left: 0;
	border-right: 24px solid #78D64B;
	left:0;
	 right: 88px;
}
.rtl .item-list .list-group-item i {
    margin-left: 5px;
}
.rtl .dropdown-item {
    text-align: right;
}
.rtl .dropdown-icon {
    margin-left: .5rem;
    margin-right: -.5rem;
    text-align: right;
}
.rtl .header-main .top-bar .contact {
    padding-right: 15px;
}
@media (min-width: 1024px){
.rtl  .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .link-list {
    border-right: 1px solid #e8ebf3;
	border-left:0;
}
}
.rtl .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .link-list li a {
    text-align: right;
}
.rtl .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .link-list li {
    text-align: right;
}
.rtl .custom-control-label::after {
	    right: 0;
}
.rtl .item-card7-desc ul li a i{
	float:right;
	margin-top:1px;
}
.rtl .form .btn {
    left: -1px;
	right:0;
}
.rtl .arrow-ribbon.bg-success:before {
    left: 0;
	right:auto;
    left: -15px;
    border-right: 15px solid #09d37b;
	border-left:0;
}
.rtl .arrow-ribbon.bg-purple:before {
	 left: 0;
	right:auto;
    left: -15px;
    border-right: 15px solid #6d33ff;
	border-left:0;
}
.rtl .arrow-ribbon.bg-primary:before {
    border-right: 15px solid #78D64B;
    border-left:0;
    left: 0;
	right:auto;
    left: -15px;
}
.rtl .arrow-ribbon.bg-danger:before {
    border-right: 15px solid #ff382b;
	border-left:0;
    left: 0;
	right:auto;
	 left: -15px;
}
.rtl .arrow-ribbon.bg-warning:before {
	border-left:0;
    left: 0;
	right:auto;
	 left: -15px;
	 border-right: 15px solid #ffa22b;
}
.rtl .arrow-ribbon.bg-info:before {
	border-left:0;
    left: 0;
	right:auto;
	left: -15px;
	border-right: 15px solid #00d6e6;
}
.rtl .arrow-ribbon.bg-secondary:before {
    border-right: 15px solid rgb(5, 28, 44);
	border-left:0;
    left: 0;
	right:auto;
	left: -15px;
}
.rtl .badge-offer {
    right: 15px;
    left: auto;
}
.rtl .product-item span {
     right: 15px;
	 left: auto;
}
.rtl .page-options {
    margin-right: auto;
	margin-left:0;
}
.rtl .custom-switch-description {
    margin-right: .5rem;
}
.rtl .social li {
    float: left;
}
.rtl .footer-main .payments li {
    margin-left: 15px;
	margin-right:0;
	float: right;
}
.rtl .header-brand-img {
    margin-left: .5rem;
	margin-right:0;
}
.rtl .header-search .header-icons .header-icons-link li {
    margin-left: 5px;
    margin-right: auto
}
.header-search .header-icons .header-icons-link1 .main-badge1 {
     left: -15px;
	 right:auto;
}
.rtl .modal-header .close.btn {
    padding: 0.2rem 1rem;
    margin: 0;
    float: left;
    left: 15px;
    right: auto;
}
.rtl .modal-header .close {
    padding: 1rem;
    margin: -1rem  -1rem auto;
}
.rtl dd {
    margin-right: 0;
}
.rtl .horizontalMenu-list .sub-menu:before,.rtl  .horizontalMenu-list .sub-menu:after,.rtl  .horizontalMenu-list .halfdiv:before,.rtl .horizontalMenu-list .halfdiv:after {
    right: 12px;
    left: auto;
}
@media (max-width:992px){
	.rtl .megamenu-relative{
		position:relative !important;
	}
}
@media only screen and (max-width: 991px){
	.rtl .overlapblackbg {
		left: 0 !important;
		right:auto;
	}
	.active .horizontalMenucontainer {
		margin-right: 240px;
	}
}
@media only screen and (max-width: 991px){
.rtl  .horizontalMenu>.horizontalMenu-list {
    margin-right:0 !important;
}
}
@media only screen and (max-width: 991px){
.rtl .horizontalMenu>.horizontalMenu-list>li>.horizontalMenu-click>i {
    margin-left: 10px;
	margin-right:0;
    float: left;
}
}
@media only screen and (max-width: 991px){
.rtl .horizontalMenu>.horizontalMenu-list>li>a {
    text-align: right;
}
}
@media only screen and (max-width: 991px){
.rtl .animated-arrow {
    right: 0;
    left: auto;
	padding: 16px 0px 16px 35px;
    margin: 11px 15px 0 0;
}
}
@media (max-width: 568px){
.rtl .top-bar .top-bar-right {
    float: left!important;
}
}
@media only screen and (max-width: 991px){
.rtl .callusbtn {
    left: 5px;
    right: auto;
}
}
@media only screen and (max-width: 991px){
.rtl .horizontalMenu-list .sub-menu:before, .rtl .horizontalMenu-list .sub-menu:after, .rtl .horizontalMenu-list .halfdiv:before, .rtl .horizontalMenu-list .halfdiv:after {
    left: 12px;
    right: auto;
}
}
@media only screen and (max-width: 991px){
.rtl .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>a {
    padding: 10px 16px 10px 0px;
}
}
@media only screen and (max-width: 991px){
.rtl .callusbtn .fa {
    margin-right: -24px;
	margin-left:auto;
}
}
@media only screen and (max-width: 991px){
.rtl .header-main .top-bar-right .custom {
    margin: 10px 0 0 -9px
}
}
@media only screen and (max-width: 991px){
.rtl .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li .horizontalMenu-click02>i {
    float: left;
}
}
@media only screen and (max-width: 991px){
.rtl .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a {
    padding: 10px 26px 10px 0px;
}
}
.rtl #gdpr-cookie-message {
	right:0;
	margin-right: 30px;
	left:auto;
}
.rtl #gdpr-cookie-message button, button#ihavecookiesBtn {
	margin-left:8px;
}
.rtl #back-to-top{
	left: 20px !important;
	right:auto;
}